Options -Indexes

# Serve .html without extension
RewriteEngine On

# If the request is not for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Try adding .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ /$1.html [L]

# Custom 404
ErrorDocument 404 /index.html
